<li class="list-group-item">
                        <div class="row">
                            <div class="span2", id="comment-photo">
                                <%=gravatar_for comment.user, class: "img-circle img-responsive"%>
                            <div class="span6">
                                <div>
                                    <div class="mic-info">
                                        <%= link_to comment.user.name, comment.user%> <%= time_ago_in_words(comment.created_at)%> ago.
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <%=comment.text%>
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="icon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="icon-ok"></span>
                                    </button>
                                    <% if current_user?(comment.user) %>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <%= link_to photo_comment_path(@photo, comment), method: :delete,
                                         data: { confirm: "Are you sure you want to delete your comment?" } do%>
                                             <i class="icon-trash"></i>
                                        <% end %>
                                    </button>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </li>